*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.gridcontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: antiquewhite;


}
.item{
    background-color: lightgoldenrodyellow;
    border: 5px solid green;
    padding: 40px;
    
}
.a1{
    grid-column-start: 1;
    grid-column-end: 4;

}
.a2{
    grid-row-start: 2;
    grid-row-end: 4;
}