*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#top{
    display: flex;
    flex-direction: column;
}
#header{
    display: flex;
    width: 100%;
    background-color: antiquewhite;
    justify-content: center;
    gap: 20px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid red;
}
