*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#top{
    display: flex;
    flex-direction: column;
}
#header{
    display: flex;
    width: 100vw;
    background-color: antiquewhite;
    justify-content: center;
    gap: 20px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid grey;
}

#header .logo
{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#header .menu{
    display: flex;
    justify-content: center;
    gap: 20px;

}
#header .nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}
.nav1{
    background-color: white;
    font-size: 20px;
    font-family: poppins;
    font-weight: 400;
    line-height: 24px;
    text-align:left;
    text-decoration: none;
    border-radius: 20px;
}
.login{
    width: Hug (104px)px;
  height: Hug (48px)px;
  padding: 12px 20px 12px 20px;
  border-radius: 10px;
  background: linear-gradient(180deg, #3940A0 0%, #3CA3C1 100%);
opacity: 0px;
border: 1px solid grey;
color: #FFFFFF;
    
}
.signup
{
  width: Hug (104px)px;
  height: Hug (48px)px;
  padding: 12px 20px 12px 20px;
  border-radius: 10px;
  background: linear-gradient(180deg, #3940A0 0%, #3CA3C1 100%);
opacity: 0px;
border: 1px solid grey;
color: #FFFFFF;
}